version: 2.1

references:
  defaults: &defaults
    machine:
      image: default
    environment:
      TZ: "/usr/share/zoneinfo/Asia/Tokyo"

commands:
  setup:
    steps:
      - run:
          name: Setup docker
          command: |
            echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
            docker version
            docker buildx create --use
            docker buildx inspect --bootstrap
            docker buildx ls
      - run:
          name: Install make
          command: |
            sudo apt-get update
            sudo apt-get install make
      - run:
          name: Enable usermode emulation
          command: docker run --rm --privileged multiarch/qemu-user-static:register --reset

jobs:
  build:
    <<: *defaults
    parameters:
      firmware_type:
        type: string
    steps:
      - checkout
      - setup
      - run:
          name: Build docker image
          command: |
            make FIRMWARE_TYPE=<< parameters.firmware_type >> dist/actcast-rpi-app-base-<< parameters.firmware_type >>.tar.gz -j
      - store_artifacts:
          path: dist
      - run:
          name: Release docker image
          command: |
            docker images
            if [ ! -n "${CIRCLE_TAG}" ]; then
              exit 0
            else
              docker tag idein/actcast-rpi-app-base-<< parameters.firmware_type >>:latest idein/actcast-rpi-app-base:$CIRCLE_TAG
              docker push idein/actcast-rpi-app-base:$CIRCLE_TAG
            fi

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          name: build_bullseye
          firmware_type: bullseye
          context:
            - docker-hub-creds
          filters:
            branches:
              only: /.*/
            tags:
              only: /^bullseye-[0-9]+/
      - build:
          name: build_bookworm
          firmware_type: bookworm
          context:
            - docker-hub-creds
          filters:
            branches:
              only: /.*/
            tags:
              only: /^bookworm-[0-9]+/
